.error {
  border-color: #dc3545;
}

.form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    form{
        display: contents;
        input,div{
            display: flex;
            padding: 5px;
            margin: 5px;
        }
    }
}
ul.loading{
    background-color: green;
    }


    .card{
        max-width: 500px;
        outline: 2px solid #000; /* Чёрная рамка */
        margin: 10px;
        padding: 10px;
        list-style-type: none;
      
      
        background: #fc0; /* Цвет фона */
          box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
          padding: 10px;
      
      }
      .cards{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
      }