.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.global{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,0.6923144257703081) 50%);
}



.top ul {
  text-align: center;
  list-style-type: none;
  position: relative;
  margin: 0px;
  padding: 0px;
  background: rgb(243, 166, 0);
}

ul.MainListMenu li{
  margin-left:10px;
  display: inline-block;
}


.Menu ul{
  display: none;
}



.Menu:hover ul{
  padding-left:20px;
  margin-left: -10px;;
  padding-right: 10px;
  display: inline;
  position: absolute;

}
  

.Menu ul li{
  margin-left: -10px;
 display: inline;
}




.Students {
  padding: 0px;
  margin-top: 10px;
  text-align: center;

  display: inline-flexbox;
  /*background-color: rgb(238, 2, 2); */
}

.Students li {
  list-style-type: none;
}
.body h6 {
  text-align: center;
}

.bottom {
 /* background-color: rgb(8, 143, 206); */
  text-align: center;
}

.bottom ul {
  display: inline-flex;
}

.bottom .Banner {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

.bottom li {
  list-style-type: none;
}

.bottom .Banner:hover {
  border: 1px solid;
}
